body {
  background-image: url("/assets/images/ChatGPT\ Image\ Dec\ 6\,\ 2025\,\ 06_53_09\ PM.png");
  width: 99%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  padding: 20px;
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
}

.enemy {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 30px;
  width: 50%;
  height: 80vh;
  background-color: #b7a884e3;
  border: 5px double #994e33;
  border-radius: 20px;
}

.enemy-heading {
  color: #753822;
  text-shadow: 3px 1px 3px #994e33;
}

.friend {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 50%;
  height: 90vh;
  background-color: #b7a884e3;
  border: 5px double #57634d;
  border-radius: 20px;
}

.friend h1 {
  text-decoration: underline;
  color: aliceblue;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 70px auto;
  padding: 20px;
  color: #f3bca8;
  background-color: #993a33;
  border: 1px solid #f3bca8;
  border-radius: 10%;
  width: 30%;
  position: relative;
  top: 20%;
  transition: all 3s ease-in-out;
  z-index: 3;
}

.unit-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.popup h2 {
  margin-top: 0;
  color: #f4c6b6;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(22, 2, 67);
}

.popup .close:hover {
  color: bisque;
}

.add-unit {
  display: flex;
  justify-content: center;
  width: 100%;
}

.enemy-units .button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 80px;
  text-decoration: none;
  font-weight: bold;
  color: #994e33;
  background-color: rgb(244, 217, 217);
  border: 1px solid #994e33;
  border-radius: 10%;
}

.button:hover {
  border: 2px solid #994e33;
  background-color: #f3a589;
}

.terrain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  gap: 10px;
  height: fit-content;
  width: 100%;
  background-color: #f3bca8;
  border-radius: 10px;
  border: 1px solid #994e33;
  color: #994e33;
}

.enemy-doctrine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  gap: 10px;
  height: fit-content;
  width: 100%;
  background-color: #f3bca8;
  border-radius: 10px;
  border: 1px solid #994e33;
  color: #994e33;
}

h3 {
  padding: 0px;
  margin: 5px;
  color: #753822;
  text-decoration: underline;
}

.enemy-units {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  gap: 10px;
  height: fit-content;
  width: 100%;
  background-color: #f3bca8;
  border-radius: 10px;
  border: 1px solid #994e33;
  color: #994e33;
}

.add-unit-info {
  display: flex;
  justify-content: center;
}

.add-unit-info-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 120px;
  text-decoration: none;
  font-weight: bold;
  color: #994e33;
  background-color: rgb(244, 217, 217);
  border: 1px solid #994e33;
  border-radius: 10%;
}

.province-ownership-status {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  gap: 10px;
  height: fit-content;
  width: 100%;
  background-color: #f3bca8;
  border-radius: 10px;
  border: 1px solid #994e33;
  color: #994e33;
}

.switch {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle {
  display: flex;
  background-color: #d2d2d2;
  width: 100px;
  height: 50px;
  border-radius: 100px;
}

/* .toggle::after {
  position: absolute;
   top: 100px; 
 display: block !important; 
content: "";
background-color: rgb(208, 10, 10);
width: 40px;
height: 40px;
border-radius: 50%;
margin: 5px;
transition: 1s;
 z-index: 1; 
 }  */

.fa-circle {
  scale: 2;
  margin-top: 22px;
  margin-left: 10px;
  margin-right: 15px;
  color: white;
  z-index: 1;
}

input:checked + .toggle {
  background-color: #993a33;
  justify-content: right;
}

/* input:checked + .toggle::after {
  transform: translateX(50px);
} */

.switch input {
  display: none;
}

/* .circle {
  position: inherit;
  background-color: blue;
  width: 20px;
  height: 20px;
}

input:checked + .circle {
  background-color: purple;
} */
